@use 'variables';
@use 'common';
@use 'hero';
@use 'tariffs';
@use 'open-form';
@use 'gallery';
@use 'reviews';
@use 'footer';
@use 'modal';
@use 'form';

*, *:before, *:after {
  box-sizing: border-box;
  // font-family: 'Shantell Sans'; // Лого, подписи
  // font-family: 'Balsamiq Sans'; // Прикольный, подходит подо всё в отличие от первого
  // font-family: 'Geologica'; // Более серьезный
}

a {
  color: #056EDA;

  @media (hover: hover) {
    &:hover {
      color: #1D1C21;
    }
  }
}

p {
  margin: 0;
}

h2 {
  font-family: 'Geologica', sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .container {
    width: calc(100% - 50px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;  
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}
