@use 'variables';
@use 'common';
@use 'hero';
@use 'tariffs';
@use 'open-form';
@use 'characters';
@use 'footer';

*, *:before, *:after {
  box-sizing: border-box;
  // font-family: 'Shantell Sans'; // Лого, подписи
  // font-family: 'Balsamiq Sans'; // Прикольный, подходит подо всё в отличие от первого
  // font-family: 'Geologica'; // Более серьезный
}

p {
  margin: 0;
}

h2 {
  font-family: 'Geologica';
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .container {
    width: calc(100% - 50px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;  
  }
}

button {
  padding: 20px;
  color: black;
  font-weight: bold;
  background: white;
  outline: none;
  border: 0;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.button {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  position: relative;
  padding: 17px 25px 15px 25px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.35;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #FFE547 13%, rgba(255, 205, 68, 0) 100%), #FFB541;
  border: 2px solid #FFCB44;
  color: #1D1C21;
  border-radius: 30px;
  -webkit-tap-highlight-color: transparent;
}
