.characters {
  height: auto;
  background: #1D1C21;
  padding: 90px 0 150px 0;
  overflow: hidden;

  &__header {
    color: white;
    font-family: 'Geologica';
    font-size: 54px;
    text-align: left;
    margin-bottom: 50px;
  }

  &__images {
    display: flex;
    grid-gap: 20px;

    img {
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
  }
}