.footer {
  background: #ffffff;
  color: dimgrey;

  & > * {
    font-family: 'Geologica';
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0;
    color: #b4bec8;

    &:last-child {
      //padding-top: 0;
    }
  }

  @media (min-width: 360px) {
    &__info {
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 20px;
    }
  }

  @media (min-width: 1200px) {
    &__info {
      flex-direction: row;
      align-items: space-between;
    }
  }
}