.hero {
  background-image: url(/img/hero-5-test-3.png);
  //background: -webkit-linear-gradient(180deg, #d3c828,#8fe471,#37f5c2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #d3c828,#8fe471,#37f5c2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: -webkit-linear-gradient(90deg,#ceddd6,#b9babf,#f1bfa4); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(180deg,#ceddd6,#b9babf,#f1bfa4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  filter: blur(2px);
  z-index: 1;
  position: relative;

  &__animator-container {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
  }

  &__animator-pirat {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 450px;
    z-index: 10;
  }

  &__animator-spiderman {
    position: absolute;
    bottom: -50px;
    left: 8%;
    width: 450px;
    z-index: 11;
  }

  &__animator-white-snow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 550px;
    z-index: 11;
  }

  &__animator-pony {
    position: absolute;
    bottom: -50px;
    left: 22%;
    width: 500px;
    z-index: 11;
  }

  &__cover {
    position: absolute;
    height: 100vh;
    z-index: 2;
    width: 100%;
    top: 0;
    opacity: 0.2;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  }

  &__button {
    font-size: 16px;
  }

  &__container {
    padding: 0;
    z-index: 8;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 360px) {
  .hero__animator-white-snow {
    display: none;
  }

  .hero__animator-pony {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hero__animator-white-snow {
    display: block;
  }

  .hero__animator-pony {
    display: block;
  }
}

@media (min-width: 840px) {
  .hero {
    background-attachment: fixed;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 0 30px;

  &__company-name {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    color: black;
    font-family: 'Shantell Sans';
  }

  &__items {
    margin: 0;
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
    padding: 15px 20px;
    font-family: 'Geologica';
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);

    li {
      display: inline-block;
      margin-right: 40px;
      color: white;
      font-weight: bold;

      a {
        text-decoration: none;
        color: black;
        font-weight: 400;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.menu-mobile {
  position: fixed;
  width: 320px;
  max-width: 100%;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0);
  padding: 30px;
  overflow: auto;
  background: linear-gradient(to bottom, #1D1C21 20%, rgba(29, 28, 33, 0.95));
  color: #FFF;
  -webkit-backface-visibility: hidden;

  hr {
    border-color: #eeeeee;
  }

  &__company-name {
    vertical-align: middle;
    font-size: 24px;
    color: white;
    font-family: "Shantell Sans";
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
  }

  &__close-button {
    padding: 10px;
  }

  &__items {
    font-family: 'Geologica';

    li {
      padding: 10px 0 10px 0;

      a {
        color: white;
      }
    }
  }
}

.menu-mobile.active {
  pointer-events: all;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 1200px) {
  .menu-mobile {
    display: block;
  }
}

@media (min-width: 360px) {
  .menu__items {
    display: none;
  }

  .burger {
    display: table-cell;
  }
}

@media (min-width: 840px) {
  .menu__items {
    display: table-cell;
  }

  .burger-container {
    display: none;
  }

  .menu-mobile {
    display: none;
  }
}

.hero__header {
  font-family: 'Geologica';
}

.hero__subheader {
  font-family: 'Shantell Sans';
}

@media (min-width: 360px) {
  .hero__header { font-size: 24px; }
  .hero__subheader {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px 10px;
  }
}

@media (min-width: 480px) {
  .hero__header { font-size: 30px; }
  .hero__subheader { font-size: 16px; }
}

@media (min-width: 640px) {
  .hero__header { font-size: 36px; }
  .hero__subheader { font-size: 18px; }
}

@media (min-width: 960px) {
  .hero__header { font-size: 42px; }
  .hero__subheader { font-size: 20px; }
}

@media (min-width: 1100px) {
  .hero__header { font-size: 48px; }
  .hero__subheader { font-size: 22px; }
}

@media (min-width: 1200px) {
  .hero__header { font-size: 54px; }
  .hero__subheader {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.2);
  }
}

.hero__header {
  text-align: center;
  color: #5a2e2e;
}

.hero__subheader {
  text-align: center;
  color: black;
  margin-bottom: 200px;
}

.burger-container {
  position: relative;
  width: 50px;
}