:root {
  --document-scroll-border-radius: 5px;
  --document-scroll-thickness: 8px;

  --document-scroll-track-background: transparent;
  --document-scroll-track-border-radius: 0;
  --document-scroll-thickness-hover-active: 8px;

  --document-scroll-background: transparent;
}

@media (min-width: 840px) {
  :root {
    --document-scroll-background: linear-gradient(to bottom, #5a2e2e, #884e4e);
  }
}